In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import Ridge, Lasso
from sklearn.svm import SVR
from sklearn.metrics import confusion_matrix, accuracy_score, mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [53]:
train_df=pd.read_csv("train.csv")
train_df.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
2,OH,84,area_code_408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
3,OK,75,area_code_415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no
4,MA,121,area_code_510,no,yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,no

In [54]:
# split the data into features and target using another approach
X= train_df.iloc[:,:-1]
y=train_df["churn"]

In [55]:
#encode the target
le=LabelEncoder()
y_=le.fit_transform(y)

In [56]:
X= train_df.copy()
y=X.pop("churn")

In [59]:
#category features encoding
X_dummies=pd.get_dummies(X,drop_first=True)

In [60]:
X_dummy=pd.get_dummies(X, columns=["state", "area_code", "international_plan", "voice_mail_plan"], drop_first=True )
X_dummy

,account_length,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,...,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,area_code_area_code_415,area_code_area_code_510,international_plan_yes,voice_mail_plan_yes
0,107,26,161.6,123,27.47,195.5,103,16.62,254.4,103,...,0,0,0,0,0,0,1,0,0,1
1,137,0,243.4,114,41.38,121.2,110,10.30,162.6,104,...,0,0,0,0,0,0,1,0,0,0
2,84,0,299.4,71,50.90,61.9,88,5.26,196.9,89,...,0,0,0,0,0,0,0,0,1,0
3,75,0,166.7,113,28.34,148.3,122,12.61,186.9,121,...,0,0,0,0,0,0,1,0,1,0
4,121,24,218.2,88,37.09,348.5,108,29.62,212.6,118,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,83,0,188.3,70,32.01,243.8,88,20.72,213.7,79,...,0,0,0,0,0,0,1,0,0,0
4246,73,0,177.9,89,30.24,131.2,82,11.15,186.2,89,...,0,0,0,0,1,0,0,0,0,0
4247,75,0,170.7,101,29.02,193.1,126,16.41,129.1,104,...,0,0,0,0,0,0,0,0,0,0
4248,50,40,235.7,127,40.07,223.0,126,18.96,297.5,116,...,0,0,0,0,0,0,0,0,0,1
4249,86,34,129.4,102,22.00,267.1,104,22.70,154.8,100,...,0,1,0,0,0,0,1,0,0,1

In [74]:
#partition into train and test
train_x, val_x, train_y, value_y= train_test_split(X_dummies, y_, train_size=0.8, random_state=42)

In [62]:
x_train, x_test, y_train, y_test= train_test_split(X_dummy, y, test_size=0.1, random_state=42)

In [64]:
dt=DecisionTreeClassifier(random_state=42)
model_1= dt.fit(x_train, y_train )

In [65]:
svm= SVC(random_state=42)
model_2=svm.fit(x_train, y_train)

In [66]:
scaler = StandardScaler()
lr = make_pipeline(scaler, LogisticRegression(max_iter=200))
model_3= lr.fit(x_train, y_train)

In [67]:
prediction_1= model_1.predict(x_test)
eval_1=accuracy_score(y_test, prediction_1)
eval_1_c= confusion_matrix(y_test, prediction_1)

print(f"the accuracy score by {dt} is {eval_1} \n")
print(f"the confusion matrix for {dt} is \n{eval_1_c} \n")

the accuracy score by DecisionTreeClassifier(random_state=42) is 0.9223529411764706

the confusion matrix for DecisionTreeClassifier(random_state=42) is
[[345  16]
 [ 17  47]]

In [68]:
prediction_2= model_2.predict(x_test)
eval_2=accuracy_score(y_test, prediction_2)
eval_2_c= confusion_matrix(y_test, prediction_2)

print(f"the accuracy score by {svm} is {eval_2} \n")
print(f"the confusion matrix for {svm} is \n{eval_2_c}")

the accuracy score by SVC(random_state=42) is 0.8494117647058823

the confusion matrix for SVC(random_state=42) is
[[361   0]
 [ 64   0]]

In [69]:
prediction_3= model_3.predict(x_test)
eval_3=accuracy_score(y_test, prediction_3)
eval_3_c= confusion_matrix(y_test, prediction_3)

print(f"the accuracy score by {lr} is {eval_3} \n")
print(f"the confusion matrix for {lr} is \n{eval_3_c}")

the accuracy score by Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression(max_iter=200))]) is 0.8705882352941177

the confusion matrix for Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression(max_iter=200))]) is
[[353   8]
 [ 47  17]]

In [72]:
# train with random forest
rf=RandomForestClassifier()
model_4=rf.fit(train_x, train_y)

In [76]:
prediction_4=model_4.predict(val_x)
print(classification_report(value_y,prediction_4))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97       721
           1       0.98      0.69      0.81       129

    accuracy                           0.95       850
   macro avg       0.96      0.84      0.89       850
weighted avg       0.95      0.95      0.95       850

the baseline model using the desision tree and random forest tends to be bias to the zeros. we can go ahead oversampling and retry

## train the model with oversampling dataset

In [82]:
y.value_counts()

no     3652
yes     598
Name: churn, dtype: int64

In [84]:
from sklearn.utils import resample
majority_class= train_df.query("churn=='no'") # separate the majority class
minority_class= train_df.query("churn=='yes'") # separate the minority class

minority_upgrade=resample(minority_class, n_samples=len(majority_class), random_state=42)
balanced_df=pd.concat([majority_class,minority_upgrade ])

In [85]:
balanced_df.churn.value_counts()

no     3652
yes    3652
Name: churn, dtype: int64

In [86]:
X_s= balanced_df.copy()
y_s=X_s.pop("churn")

In [87]:
X_s_dummies=pd.get_dummies(X_s,drop_first=True)

In [89]:
train_x, val_x, train_y, value_y= train_test_split(X_s_dummies, y_s, train_size=0.8, random_state=42)

In [92]:
dt=DecisionTreeClassifier(random_state=42)
model_5= dt.fit(x_train, y_train )

In [93]:
rf=RandomForestClassifier()
model_6=rf.fit(train_x, train_y)

In [100]:
prediction_5= model_5.predict(x_test)
eval_5=accuracy_score(y_test, prediction_5)
eval_5_c= confusion_matrix(y_test, prediction_5)

print(f"the accuracy score by {dt} is {eval_5} \n")
print(f"the confusion matrix for {dt} is \n{eval_5_c} \n")

the accuracy score by DecisionTreeClassifier(random_state=42) is 0.9223529411764706

the confusion matrix for DecisionTreeClassifier(random_state=42) is
[[345  16]
 [ 17  47]]

In [99]:
prediction_5=model_5.predict(val_x)
print(classification_report(value_y,prediction_5))

              precision    recall  f1-score   support

          no       0.96      0.99      0.98       749
         yes       0.99      0.96      0.98       712

    accuracy                           0.98      1461
   macro avg       0.98      0.98      0.98      1461
weighted avg       0.98      0.98      0.98      1461

In [95]:
prediction_6=model_6.predict(val_x)
print(classification_report(value_y,prediction_6))

              precision    recall  f1-score   support

          no       1.00      0.98      0.99       749
         yes       0.98      1.00      0.99       712

    accuracy                           0.99      1461
   macro avg       0.99      0.99      0.99      1461
weighted avg       0.99      0.99      0.99      1461

## features selection
pca (principal component analysis) is the statistical method that reduces/simplify the complexity of data set by removing some variables while retaining most important information. this is the most commonly used in practice.

In [101]:
from sklearn.decomposition import PCA

In [109]:
merit=PCA(n_components=20, random_state=42)
new_x=merit.fit_transform(X_s_dummies)

In [110]:
train_x, val_x, train_y, value_y= train_test_split(new_x, y_s, train_size=0.8, random_state=42)

In [111]:
dt=DecisionTreeClassifier(random_state=42)
model_5= dt.fit(train_x, train_y )

In [112]:
prediction_5=model_5.predict(val_x)
print(classification_report(value_y,prediction_5))

              precision    recall  f1-score   support

          no       1.00      0.95      0.97       749
         yes       0.95      1.00      0.97       712

    accuracy                           0.97      1461
   macro avg       0.97      0.97      0.97      1461
weighted avg       0.97      0.97      0.97      1461

## model prediction

In [113]:
test_df=pd.read_csv("test.csv")
test_df.head()

,id,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
0,1,KS,128,area_code_415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,2,AL,118,area_code_510,yes,no,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0
2,3,IA,62,area_code_415,no,no,0,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4
3,4,VT,93,area_code_510,no,no,0,190.7,114,32.42,218.2,111,18.55,129.6,121,5.83,8.1,3,2.19,3
4,5,NE,174,area_code_415,no,no,0,124.3,76,21.13,277.1,112,23.55,250.7,115,11.28,15.5,5,4.19,3

In [114]:
new_set=test_df.drop(columns='id')
new_set

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
0,KS,128,area_code_415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,AL,118,area_code_510,yes,no,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0
2,IA,62,area_code_415,no,no,0,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4
3,VT,93,area_code_510,no,no,0,190.7,114,32.42,218.2,111,18.55,129.6,121,5.83,8.1,3,2.19,3
4,NE,174,area_code_415,no,no,0,124.3,76,21.13,277.1,112,23.55,250.7,115,11.28,15.5,5,4.19,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,GA,130,area_code_415,no,no,0,119.4,99,20.30,226.3,97,19.24,202.7,111,9.12,11.3,7,3.05,0
746,WA,73,area_code_408,no,no,0,177.2,118,30.12,270.5,84,22.99,241.8,112,10.88,12.3,2,3.32,3
747,WV,152,area_code_415,no,no,0,184.2,90,31.31,256.8,73,21.83,213.6,113,9.61,14.7,2,3.97,3
748,DC,61,area_code_415,no,no,0,140.6,89,23.90,172.8,128,14.69,212.4,97,9.56,13.6,4,3.67,1
749,DC,109,area_code_510,no,no,0,188.8,67,32.10,171.7,92,14.59,224.4,89,10.10,8.5,6,2.30,0